.custom-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.cls-1,
.cls-2,
.cls-7 {
  fill: #c7d94e;
}

.cls-1 {
  opacity: 0.34;
}

.cls-2 {
  opacity: 0.16;
}

.cls-3,
.cls-4,
.cls-5,
.cls-6 {
  fill: #7ed2ec;
}

.cls-3 {
  opacity: 0.87;
}

.cls-4 {
  opacity: 0.62;
}

.cls-5 {
  opacity: 0.22;
}

.cls-6 {
  opacity: 0.2;
}

.cls-7 {
  opacity: 0.63;
}

// override main font
body, p {
  font-size: 1.3rem;
}


body, p, li, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

html {
  transition: $transition-base;
}

@include media-breakpoint-down('md') {
  html {
    font-size: 80%;
    transition: $transition-base;
  }
}

@include media-breakpoint-down('sm') {
  html {
    font-size: 80%;
    transition: $transition-base;
  }

  .container {
    padding: $spacer * 2;
  }
}
